src/Services/Catalog/Catalog.Api/bin
src/Services/Catalog/Catalog.Api/obj
src/Services/Catalog/Catalog.Application/obj
src/Services/Catalog/Catalog.Application/bin

src/Services/Basket/Basket.Api/bin
src/Services/Basket/Basket.Api/obj
src/Services/Basket/Basket.Application/obj
src/Services/Basket/Basket.Application/bin

src/Services/Discount/Discount.Api/bin
src/Services/Discount/Discount.Api/obj
src/Services/Discount/Discount.Application/obj
src/Services/Discount/Discount.Application/bin

credentials.txt